body{
    margin:0;
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo-image{
    margin-top: 90px;
    margin-left: 40px;
    animation: logoIn 1s;
}
hr{
    position: absolute;
    width:39%;
    left: 190px;
    top: 105px;
    z-index: 1;
    border: 1px solid rgb(148, 144, 144);
    animation: hrIn 3s;
}
.header{
    padding: 20px;
    width: 61.9rem;
    position: absolute;
    left: 890px;
    top: 62px;
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(5px);   
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 2.7px;
    animation: navIn 1s;
    overflow: none;
}
.header a{
    color: rgba(255, 255, 255, 0.911);
    text-decoration: none;
}

.top{
    font-size: 1.3rem;
    margin: 20px;
    margin-left: 79px;
}
.active{
    text-decoration: underline;
    transition: none;
}
.header{
    display: flex;
    list-style: none;
}
.header a:hover{
    color: white;
}
.header a:after{
    position: relative;
    top: 40px;
}
.header a::after {
    content: "";
    width: 0;
    height: 2px;
    background-color: white;
    display: block;
    transition: width 0.5s ;
  }
  
 .header a:hover::after {
    width: 100%;
  }












.details{
    color:white;
    position: absolute;
    bottom: 190px;
    left: 180px;
    padding: 10px;
    animation: transitionIn 1.75s;
    overflow: none;
}
.details h4{
    font-family: 'Bellefair', serif;
    font-size: 28px;
    letter-spacing: 2.75px;
    margin: 0;
    font-weight: 10;
    color: rgb(177, 177, 177);
}
.details h1{
    font-family: 'Bellefair', serif;
    font-size: 50px;
    font-weight: 400;
    margin: 0;
    margin-top: 30px;
    margin-bottom: 30px ;
}
.details p{
    font-family: 'Barlow Condensed', sans-serif;
    margin: 0;
    line-height: 2;
    letter-spacing: 1px;
    font-size: 1.21rem;
}
.Top{
    color: #fff;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 30px;
    letter-spacing: 5px;
    margin-bottom: 180px;
    font-weight: bold;
    

}
.two{
    color: gray;
    font-weight: bold;
    margin-right: 10px;
    font-weight:bolder;
}
.commander{
    position: absolute;
    right:20rem;
    bottom: 0;
    animation: imageIn 1s;
    overflow: none;
}


li.smenuitem a{    
    width: 20px;
    height: 20px;
    border-radius: 25px;
    background-color: gray;
}
li.smenuitem{
    list-style: none;
    display: flex;
    margin: 10px;
}
.smenu{
    display: flex;
}
.links{
    position: absolute;
    bottom: 60px;
    left:140px;
    animation: linksIn 1s;
    overflow: none;
}

.smenuitem a:hover{
    background-color:white;
    transition: 0.5s;
}
li.active a{
    background-color: white;
}

@keyframes transitionIn{
    from{
        opacity: 0;
        transform: translateY(-10px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes imageIn{
    from{
        opacity: 0;
        transform: translateY(-20px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes linksIn{
    from{
        opacity: 0;
        transform: translateY(20px);
    }
    top{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes navIn{
    from{
        opacity: 0;
        transform: translateX(-100px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes logoIn{
    from{
        opacity: 0;
        transform: translateX(-20px);
    }
    to{
        opacity: 1;
        transform: translateZ(0);
    }
}
@keyframes hrIn{
    from{
        opacity: 0;
        transform: translateZ(10px);
    }
    to{
        opacity: 1;
        transform: translateZ(0);
    }
}
